.modal-EditSom {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal-content-EditSom {
    background: #fff;
    margin: 2.5% auto;
    padding: 15px;
    border-radius: 10px;
    width: 70vw;
    height: 86vh;
    color: black;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    padding: 5px 9px;
    color: rgb(59, 59, 59);
    border-radius: 6px;
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.555);
}

#EditSom-text{ 
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-size: 5vh;
}

.lbl-EditSom{
    font-size: 1.65rem;
}


form{
    width: 100%;
}

#div-EditSomb, 
#div-EditCinturon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#EditSom-left,
#EditCinturon-left{
    border-radius: 20px;
    box-sizing:border-box;
    padding: 1rem 0 1rem 5rem;
    width: 40%;
    background-color: #f3f3f3;
}

#div-EditCinturon{
    height: 78%;
}

#EditCinturon-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 4rem;
}

#EditSom-right{
    border-radius: 20px;
    width: 40%;
    height: auto;
    background-color: #f3f3f3;
}

.input-EditSom{
    background-color: #d1d1d1;
    padding-left: 0.7rem;
    margin: 0.2rem 0 0.8rem 0;
    border: none;
    border-radius: 5px;
    height: 4vh;
    font-size: 2.5vh;
}

.Selects-Edit{
    padding: 0 1.4rem;
}

.cont-form-EditSom{
    padding: 0 3rem;
}

#divButton{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

#btnGuardarEditSombreros, 
#btnGuardarEditTexanas,
#btnGuardarEditCinturon,
#btnGuardarEditBotin
{
    padding: 15px 20px;
    font-size: 2.5vh;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.644);
    background-color: rgb(42, 145, 16);
    color: #fff;
    cursor: pointer;
}

.contenedor-preview {
    height: 90%;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px
}

.caja-preview {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.input-img {
    display: block;
    margin-top: 10px;
}

.preview {
    width: 200px;
    height: 190px;
    border: 1px dashed #ccc;
    object-fit: cover;
    margin-top: 15px;
    display: none;
    background-color: #fafafa;
}

.input-img-oculto {
    display: none;
}

.label-boton {
    font-size: 1.2rem !important;
    
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block; 
}
.label-boton:hover {
    background-color: #e6e6e6;
}

/* 3. Estilo para el nombre del archivo (cuando aparezca) */
.file-name {
    margin-left: 10px;
    font-size: 0.9em;
    color: #333;
}