        body {
            background-color: #f4f4f4;
        }
        main{
            margin-top: 9.8rem;
        }

        .headerTemporal{
            height: 9rem;
            background-color: #580404;
        }
        .titleGestion{
            color: #3a3a3a;
            font-size: 3rem;
            margin: 2rem 0;
            text-align: center;
        }
        table {
            font-size: 1.25rem;
            margin: 0 2rem;
            width: 97%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            text-align: center;
            background-color: #720707;
            color: white;
        }
        
        .btn {
            font-size: 1.2rem;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            color: white;
            margin-right: 5px;
        }
        .btn-agregar {
            padding: 20px;
            font-size: 1.5rem;
            background-color: #28a745; 
            margin: 0 0 2rem 2rem;
            border-radius: 10px;
        }
        .btn-editar, 
        .btn-editarSombrero, 
        .btn-editarTexana,
        .btn-editarCinturon, 
        .btn-editarBotin 
        {
            background-color: #ffc107; 
            color: #333;
        }

        .btn-eliminar, 
        .btn-eliminarSombrero, 
        .btn-eliminarTexana,
        .btn-eliminarCinturon, 
        .btn-eliminarBotin 
        {
            background-color: #dc3545;
        }

        #StatePedido{
            background-color: #f5f5f5;
            border-radius: 7px;
            padding: 10px 5px;
            font-size: 1.25rem;
        }