body{
    margin:0;
}

.container {
    margin-top: 9.5rem;
    display: flex;
    gap: 5px;

}

.item:nth-child(2) {
    flex-grow: 1;
}

#space{
    width: 20%;
    height: 100vh;
}

#Filtros{
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 9.5rem;
}

#Sombreros{
    width: 60vh;
    height: 240vh;
}

#Espacio{
    width: 20%;
    height: 90vh;

    position: fixed;
    right: 0;
    top: 9.5rem;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
}

.container2 > div {
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 1px rgb(0, 0, 0) ;
    border-radius: 8px;
    transition: transform 0.4s ease;

}

.card:hover {
    background-color: rgba(190, 190, 190, 0.603);
    transform: scale(1.05);
}

.img-sombrero{
    overflow: hidden;
    display: flex;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
}

.img-sombrero > img{
    object-fit: cover;
    width: 80%;
    display: block;
    aspect-ratio: 4/3;
}

.text-sombrero{
    text-align: center;
}

h4{
    font-family: "Monserrat", sans-serif;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 1rem;
}

h5{
    font-family: "Monserrat", sans-serif;
    font-size: 1.8rem;
    padding: 0;
    margin-top: 1rem;
}

.vista-rapida {
    text-align: center;
    width: 85%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.8rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none; 
}

.card:hover .vista-rapida {
    opacity: 1;
}

#wpp{
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 8vh;
    z-index: -1;
}



@media (max-width: 1350px) {
    .container2 {
    grid-template-columns: repeat(2, 1fr); /* cambia a 2 columnas */
    }
}