
.font-circles{
    color: #fff;
    font-size: 20px;
    padding-top: 9rem;
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.img_fondo_circles{
    width: 100%;
    height: auto;
    opacity: 100%;
    z-index: -1;
}

.principal{
    
    z-index: 1;
}




.three-category{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}

.category{
    background-color: rgb(215, 118, 0);
    margin: 0 5px;
    width: 33%;
    height: 60vh;

}

.category img{  
    width: 100%;
    height: 60vh;
    
}

.info-central{
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
}

.space-info-central>svg{
    height: 100%;
    padding:0 1.5rem;
}

.space-info-central{
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.space-info-central>div{
    margin:auto;
    padding: auto;
}

.txt-info-central-tittle{
    font-size: 1.7em;
    font-weight: bold;
    padding: 0.2rem 0;
    margin: auto;
}

.txt-info-central-text{
    font-weight: 300;
    font-size: 0.8em;
    padding: auto;
    margin: auto;
}

.legado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 40vh;
    background-color: beige;

}

.legado-Tittle{
    margin: 1.5rem 0;
    padding: 0;
    width: 50%;
    font-size: 2.8em;
}

.legado-Text{
    margin: 0;
    padding: 0;
    width: 35%;
    font-size: 1em;
    font-weight: 200;
}

.ubicacion{
    display: flex;
    width: 100%;
    height: 40vh;
}

.ubicacion>iframe{
    width: 80%;
    height: 100%;
}

.ubicacion>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.ubicacion-text{
    text-align: center;
    margin: 1.5rem 1rem;
    padding: 0;
    font-size: 2.5rem;
}