.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-content-login {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 35vw;
  height: 58vh;
  color: black;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(179, 179, 179);
  padding: 4px 9px;
  color: rgb(59, 59, 59);
  border-radius: 6px;
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.555);
}

#login-text{
  margin-top: 1rem;
  text-align: center;
  font-size: 6vh;
}

label{
  font-size: 3vh;
}

form{
  width: 100%;
}

.input-login{
  background-color: #F5F5F5;
  padding: 0.6rem 0 0.6rem 1rem;
  margin: 0.5rem 0 2rem 0;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 5vh;
  font-size: 2.5vh;
}

.campo-password {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

#cont-form-login{
  padding: 0 40px;
}

#olv-contra{
  margin-top: -1.7rem;
  color: rgb(16, 0, 240);
  float: right;
}

#buttons{
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

#button-iniciar, #buttonCrear{
  padding: 20px 30px;
  font-size: 3vh;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.644);
}

#button-iniciar{
  background-color: rgb(131, 5, 5);
  color: #fff;
}

#buttonCrear{
  background-color: rgb(3, 148, 10);
  color: #fff;
}







